<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :year, style: "display: block" %>
    <%= form.number_field :year %>
  </div>

  <%= form.fields_for :rights do |rights_form| %>

    <div>
      <%= rights_form.label :country_id, style: "display: block" %>
      <%#%= rights_form.text_field :country_id  %>
      <%= rights_form.collection_select :country_id, Country.order(:code), :id, :code, include_blank: :true %>
    </div>

    <div>
      <%= rights_form.label :start, style: "display: block" %>
      <%= rights_form.datetime_field :start %>
    </div>

    <div>
      <%= rights_form.label :finish, style: "display: block" %>
      <%= rights_form.datetime_field :finish %>
    </div>

    <div>
      <%= rights_form.checkbox :_destroy %>
    </div>

  <% end %>

  <%= form.fields_for :categories do |categories_form| %>

    <div>
      <%= categories_form.label :genre_id, style: "display: block" %>
      <%#%= categories_form.text_field :genre_id  %>
      <%= categories_form.collection_select :genre_id, Genre.order(:name), :id, :name, include_blank: :true %>
    </div>

    <div>
      <%= categories_form.checkbox :_destroy %>
    </div>

  <% end %>

  <%= form.fields_for :classifications do |classifications_form| %>

    <div>
      <%= classifications_form.label :rating_id, style: "display: block" %>
      <%#%= categories_form.text_field :genre_id  %>
      <%= classifications_form.collection_select :rating_id, Rating.all, :id, :code, include_blank: :true %>
    </div>

    <div>
      <%= classifications_form.checkbox :_destroy %>
    </div>

  <% end %>

  <%= form.fields_for :advisories do |advisories_form| %>

    <div>
      <%= advisories_form.label :reason_id, style: "display: block" %>
      <%#%= categories_form.text_field :genre_id  %>
      <%= advisories_form.collection_select :reason_id, Reason.order(:code), :id, :code, include_blank: :true %>
    </div>

    <div>
      <%= advisories_form.checkbox :_destroy %>
    </div>

  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>