<p style="color: green"><%= notice %></p>
<p style="color: green"><%= notice %></p>

<%= render @movie %>

<% @movie.rights.each do |right| %>
      <p>
        <strong>Country:</strong>
        <%= Country.find(right.country_id).code %>
      </p>

      <p>
        <strong>Start:</strong>
        <%= right.start %>
      </p>

      <p>
        <strong>Finish:</strong>
        <%= right.finish %>
      </p>
    <% end %> 

<div>
  <%= link_to "Edit this movie", edit_movie_path(@movie) %> |
  <%= link_to "Back to movies", movies_path %>

  <%= button_to "Destroy this movie", @movie, method: :delete %>
</div>